.our-video {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .overlay-photo-image-bg {
    background: url("../assets/images/sections-bg-images/video-bg.jpg");
    background-size: cover;
    opacity: 0.65;
  }

  .section-heading {
    margin-bottom: 2rem;

    .section-title {
      color: $white-clr !important;
    }

    .section-subtitle {
      color: $white-clr;
    }

    .line {
      background: $white-clr;
    }
  }

  .play-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
  }
}
