%hero-title-rules {
  font-family: $fontSecondary;
  font-weight: 900;
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  color: $white-clr;
  line-height: 1.3;

  .first-word {
    position: relative;
  }

  @include ma-lg-screens {
    font-size: 3rem !important;
  }

  @include ma-xs-screens {
    font-size: 2rem !important;
    font-weight: 700 !important;
  }
}

%hero-subtitle-rules {
  color: $grey-clr;
  font-size: 1.35rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.7;

  @include ma-md-screens {
    font-size: 1rem;
  }

  @media (max-height: 500px) {
    display: none;
  }
}

.hero-social-icons {
  position: absolute;
  z-index: 900;
  @include ma-transition();

  &.start-align {
    #{$start-direction}: 3rem;
    #{$end-direction}: auto;
  }

  &.center-align {
    width: 100%;
    text-align: center;
  }

  &.end-align {
    #{$end-direction}: 3rem;
    #{$start-direction}: auto;
  }

  &.center-position {
    top: 50%;
    transform: translateY(-50%);
  }

  &.bottom-position {
    bottom: 4rem;
    top: auto;
  }

  .dir-row {
    .sc-list .sc-item:not(:last-child) {
      margin-#{$end-direction}: 2rem;
    }

    .sc-list .sc-item {
      .sc-icon {
        color: $white-clr;
      }
    }
  }

  .dir-col {
    .sc-list .sc-item:not(:last-child) {
      margin-bottom: 2rem;
    }

    .sc-list .sc-item {
      .sc-icon {
        color: $white-clr;
      }
    }
  }

  @include ma-md-screens {
    display: none;
  }

  @media (max-height: 500px) {
    display: none;
  }
}

.page-hero {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  padding: 120px 0;
  background: $main-clr; //gradients fallback for old browsers

  @include ma-md-screens {
    height: auto;
    min-height: 100vh;
  }

  @media (max-height: 600px) {
    height: auto;
  }

  .overlay-color {
    opacity: 0.5 !important;
  }

  .hero-text-area {
    padding-top: 4rem;

    .tag-line {
      color: $white-clr;
    }

    .hero-title {
      @extend %hero-title-rules;
    }

    .hero-subtitle {
      @extend %hero-subtitle-rules;
    }

    .hero-title {
      display: inline-block;
      position: relative;
      z-index: 0;

      .heading-brand-name {
        position: relative;
        display: inline-block;
        line-height: 1;
      }

      .featured-text {
        font-weight: 900;
      }
    }
  }

  .cta-links-area {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .cta-link {
      margin-bottom: 0;
      margin-#{$end-direction}: 1rem;
      font-size: 1.15rem;
      background: transparent;
      color: $white-clr;
      border-color: $white-clr;
      min-width: 180px;

      @include ma-md-screens {
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
        min-width: auto;
      }

      &:last-child {
        margin-#{$end-direction}: 0;
      }

      &:hover {
        background: $white-clr;
        color: $main-clr;
        border-color: $white-clr;
      }

      &-primary {
        background: $main-clr;
        color: $white-clr;
        border-color: $main-clr;

        &:hover {
          background: transparent;
          color: $white-clr;
          border-color: $white-clr;
        }
      }
    }
  }

  &.hero-image-bg {
    .overlay-photo-image-bg {
      background-image: url("../assets/images/hero/hero-bg-3.jpg");
      z-index: -1;
      opacity: 1;
    }
  }
}

// Start vegas Slider version only rules

.hero-vegas-slider {
  position: relative;
  height: 100vh;

  .overlay-color {
    z-index: 0 !important;
  }

  .vegas-slider-content {
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.hero-swiper-slider {
  padding: 0;
  background: $black-clr;

  .swiper-slide {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }

  .slide-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // animation: ma-scale 24s linear alternate-reverse 0s infinite both;

    .overlay-color {
      z-index: 0;
    }
  }

  .tag-line {
    transform: translateY(-1rem);
    visibility: hidden;
    opacity: 0;
    @include ma-transition;
    transition-delay: 0.3s;
  }

  .slide-title {
    @extend %hero-title-rules;

    display: inline-block;
    transform: translateY(3rem);
    visibility: hidden;
    opacity: 0;
    @include ma-transition(all, 0.8s);
    transition-delay: 0.5s;
  }

  .slide-subtitle {
    @extend %hero-subtitle-rules;

    transform: translateY(3rem);
    visibility: hidden;
    opacity: 0;
    @include ma-transition;
    transition-delay: 0.8s;
  }

  .cta-links-area {
    transform: translateY(3rem);
    visibility: hidden;
    opacity: 0;
    @include ma-transition;
    transition-delay: 1s;
  }

  .slider-stacked-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    #{$end-direction}: 3rem;
    z-index: 11;

    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      margin: 0.25rem 0;
      transform: none;
    }

    @include ma-md-screens {
      bottom: 1rem;
      top: auto;
      width: 100%;
      transform: none;
      #{$start-direction}: 0;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include adding-arrows-styling;
    background: rgba($white-clr, 0.35);
    color: $white-clr;
    outline: none;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      background: rgba($main-clr, 0.85);
    }

    @include ma-md-screens {
      bottom: 1rem;
      top: auto;
      transform: none;
    }

    @include ma-xs-screens {
      display: none;
    }
  }

  .swiper-button-prev {
    #{$start-direction}: 3rem;
    #{$end-direction}: auto;

    @include ma-md-screens {
      #{$start-direction}: 10px;
    }
  }

  .swiper-button-next {
    #{$end-direction}: 3rem;
    #{$start-direction}: auto;

    @include ma-md-screens {
      #{$end-direction}: 10px;
    }
  }

  .swiper-pagination-fraction {
    width: auto;
    #{$end-direction}: 3rem;
    #{$start-direction}: auto;
    bottom: 4rem;
    font-size: 2rem;
    line-height: 1;
    color: rgba($white-clr, 0.65);

    @include ma-md-screens {
      width: auto;
      #{$start-direction}: 50%;
      #{$end-direction}: auto;
      transform: translateX(-50% * $x-axe-direction);
      background: transparent;
      font-size: 1rem;
      bottom: 1rem;
    }

    .swiper-pagination-current,
    .swiper-pagination-total {
      display: inline-block;
      font-weight: 700;

      @include ma-md-screens {
        font-size: 1.5rem;
      }
    }

    .swiper-pagination-current {
      font-size: 4rem;
      font-weight: 900;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: rgba($white-clr, 1);

      @include ma-md-screens {
        font-size: 3rem;
      }
    }
  }

  .slides-state {
    position: absolute;
    #{$start-direction}: 50%;
    transform: translateX(-50% * $x-axe-direction);
    bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $fontSecondary;
    z-index: 11;

    .slide-num {
      width: 3rem;
      height: 3rem;
      text-align: center;
      color: $white-clr;
      font-size: 2rem;
      @include ma-transition;

      @include ma-xs-screens {
        display: none;
      }

      &.slides-count {
        opacity: 0.5;
      }
    }

    .swiper-pagination {
      position: static;
      margin: 0 1rem;
      display: flex;
      align-items: center;
    }

    .swiper-pagination-bullet {
      width: 3rem;
      height: 0.5rem;
      display: inline-block;
      border-radius: 2rem;
      background-color: $white-clr;
      @include ma-transition;

      &.swiper-pagination-bullet-active {
        background-color: $main-clr;
      }

      &:not(:last-child) {
        margin-#{$end-direction}: 0.5rem !important;
      }
    }

    &.v-align {
      @media (min-width: 768px) {
        #{$end-direction}: -3rem;
        #{$start-direction}: auto;
        transform: rotate(90deg) translateY(-50%);
        top: 50%;
        bottom: auto;

        .slide-num {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .swiper-slide-active {
    .tag-line,
    .slide-title,
    .slide-subtitle,
    .cta-links-area {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }

  &.off-grid-text {
    &:before {
      content: "";
      width: 100%;
      height: 65%;
      background-color: rgba($black-clr, 0.5);
      position: absolute;
      top: 50%;
      #{$start-direction}: 0;
      transform: translateY(-50%);
    }

    .overlay-photo-image-bg {
      background: url("../assets/images/sections-bg-images/pattern-bg-1.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.15;
      z-index: 1;
      width: 100%;
      height: 65%;
      top: 50%;
      #{$start-direction}: 0;
      transform: translateY(-50%);
    }

    .slide-bg-img {
      width: 65%;
      min-width: 65%;
      #{$start-direction}: auto;
      #{$end-direction}: 0;
    }
  }

  &.slider-parallax {
    .tag-line {
      transition-delay: 0.6s;
    }

    .slide-title {
      transition-delay: 1s;
    }

    .slide-subtitle {
      transition-delay: 1.1s;
    }

    .cta-links-area {
      transition-delay: 1.3s;
    }
  }
}

// Start inner pages hero section

.inner-page-hero {
  height: 60vh;
  min-height: 60vh;

  .overlay-photo-image-bg {
    background-image: url("../assets/images/hero/inner-page-hero.jpg");
    opacity: 1;
  }

  .hero-text-area {
    text-align: center;

    .breadcrumb {
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      margin: 0;
      padding: 0;

      .icon {
        margin-#{$end-direction}: 0.5rem;
      }

      &-item {
        color: rgba($white-clr, 0.65);
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 600;

        @include ma-lg-screens {
          font-size: 1rem;
        }

        &:before {
          /*Breadcrumb Separator Color*/
          color: $white-clr;
          padding-#{$end-direction}: 0.5rem;
        }
      }

      &-link {
        color: rgba($white-clr, 1);
        text-decoration: none;
        @include ma-transition(color, 0.25s, ease-in, 0s);

        &:hover {
          color: $main-clr;
        }
      }
    }
  }
}

// End internal pages hero section

@keyframes ma-scale {
  50% {
    transform: scale(1.2);
  }
}
