.blog {
  .box {
    @include ma-box-shadow(0, 3, 20, 0, rgba($black-clr, 0.1));
  }

  .posts-pagination {
    margin: 2rem 0;

    .deactive-posts-page-item {
      pointer-events: none;
      background-color: $grey-clr !important;
      border-color: $black-clr !important;
      opacity: 0.5;

      .posts-page-link {
        color: $black-clr !important;
        opacity: 0.5;
      }
    }

    .posts-page-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      background-color: $white-clr;
      color: $main-clr;
      border: 1px solid;
      border-color: $main-clr;
      @include ma-transition(all, 0.3s, ease);

      &:not(:last-child) {
        margin-#{$end-direction}: 0.5rem;
      }

      &:hover,
      &.active {
        background-color: $main-clr;
        color: $white-clr;

        .posts-page-link {
          color: $white-clr;
        }
      }

      &.active {
        pointer-events: none;
      }
    }

    .posts-page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: none !important;
      color: $main-clr;
      text-decoration: none;
      font-size: 1.25rem;
    }
  }

  .blog-sidebar {
    padding-#{$start-direction}: 2rem;

    @include ma-md-screens {
      padding-#{$start-direction}: 0;
    }
  }

  .sidebar-box {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;

    .sidebar-list {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
    }

    .sidebar-box-title {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      font-weight: 700;
      color: $extra-dark-grey-clr;
      text-transform: capitalize;
      border-bottom: 1px solid $main-clr;
      padding: 1rem 0;

      .icon {
        margin-#{$end-direction}: 0.5rem;
        color: $main-clr;
        font-size: 1rem;
      }
    }
  }

  .search {
    .search-form {
      position: relative;
      z-index: 0;
    }

    .search-input {
      border: 2px solid rgba($main-clr, 0.5);
      // border-radius: 5rem;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      outline: none;
      -webkit-appearance: none;
      width: 100%;
      @include ma-transition();

      &:focus {
        border-color: rgba($main-clr, 1);
      }
    }

    .search-btn {
      position: absolute;
      width: 50px;
      height: 100%;
      -webkit-appearance: none;
      border: none;
      outline: none;
      background: $main-clr;
      #{$end-direction}: 0rem;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      .icon {
        color: $white-clr;
        @include ma-transition;
      }

      // &:hover {
      //     background: $accent-clr;
      // }
    }
  }

  .cats {
    .cat-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      .cat-link {
        font-weight: 600;
        color: $extra-dark-grey-clr;
        text-transform: capitalize;
        text-decoration: none;
        @include ma-transition(color, 0.3s, ease);

        &:hover {
          color: $main-clr;
        }
      }

      .cat-count {
        width: 2rem;
        height: 2rem;
        color: $white-clr;
        background: $main-clr;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .tags {
    .tags-list {
      list-style: none;
      padding: 0;
      margin-bottom: 0.5rem;
    }

    .tags-icon-label,
    .tag-item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem 0.5rem;
      margin: 0.25rem 0.25rem 0.5rem;
      border: 1px solid $main-clr;
      border-radius: 0.25rem;
      background-color: $white-clr;
      @include ma-transition(all, 0.3s, ease, 0s);
    }

    .tags-icon-label {
      min-width: 3rem;
      color: $white-clr;
      background: $main-clr;

      .icon {
        font-size: 0.75rem;
        line-height: 1.3 !important;
      }
    }

    .tag-item {
      color: $main-clr;

      .tag-link {
        font-weight: 700;
        color: $main-clr;
        text-decoration: none;
        text-transform: capitalize;
        line-height: 1.3 !important;
        font-size: 0.75rem;

        @include ma-transition(all, 0.3s, ease, 0s);
      }

      &:hover {
        background-color: $main-clr;

        .tag-link {
          color: $white-clr;
        }
      }
    }
  }

  .recent-posts {
    .r-post-item {
      padding: 0.5rem 0;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 1rem;
      }

      .r-post-link {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
    }

    .r-post-img-wrapper {
      margin-#{$end-direction}: 1rem;
      overflow: hidden;
      width: 4rem;
      height: 4rem;
      flex-shrink: 0;
    }

    .r-post-img {
      width: 100%;
      height: 100%;
    }

    .content {
      text-transform: capitalize;

      .r-post-title {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
        color: $extra-dark-grey-clr;
        @include ma-transition(color, 0.3s, ease);

        &:hover {
          color: $main-clr;
        }
      }

      .r-post-date {
        font-size: 0.9rem;
        color: $black-clr;
        opacity: 0.5;
      }
    }
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    justify-content: start;
    background: transparent;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;

    .icon {
      margin-#{$end-direction}: 0.5rem;
    }

    &-item {
      color: ($main-clr);
      text-transform: capitalize;
      font-weight: 700;

      &:before {
        /*Breadcrumb Separator Color*/
        color: $main-clr;
        padding-#{$end-direction}: 0.5rem;
      }

      &.active {
        color: rgba($main-clr, 0.5);
      }
    }

    &-link {
      color: $main-clr;
      text-decoration: none;
      @include ma-transition(color, 0.25s, ease-in, 0s);

      &:hover {
        color: rgba($main-clr, 1);
      }
    }
  }

  .posts-grid {
    .post-box {
      position: relative;
      margin: 1rem 0;
      border-radius: 0.25rem;

      &:hover {
        .post-img-wrapper {
          .overlay-color {
            opacity: 0.5;
          }

          .post-img {
            transform: scale(1.1);
          }

          .icon {
            top: 50%;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .post-link {
      text-decoration: none;
    }

    .post-img-wrapper {
      max-height: 400px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 0.5rem;
      border-radius: 0.25rem 0.25rem 0 0;
      position: relative;

      .overlay-color {
        opacity: 0;
        z-index: 1;
      }

      .post-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        @include ma-transition;
      }

      .icon {
        position: absolute;
        top: 0;
        #{$start-direction}: 50%;
        transform: translate(-50% * $x-axe-direction, 0);
        color: $white-clr;
        z-index: 40;
        width: 4rem;
        height: 3rem;
        background-color: rgba($main-clr, 0.85);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        visibility: hidden;
        opacity: 0;
        @include ma-transition(all, 0.5s);
      }
    }

    .post-summary {
      padding: 0.5rem 2rem 2rem 0;
      position: relative;

      .post-date {
        position: absolute;
        color: $white-clr;
        background: $main-clr;
        padding: 0.5rem;
        top: 0rem;
        #{$end-direction}: 1.5rem;
        #{$start-direction}: auto;
        transform: translateY(-50%);
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
        border: 0.25rem solid $white-clr;
        z-index: 30;

        .day {
          display: block;
          font-size: 2.5rem;
          font-weight: 700;
        }
      }

      .post-info {
        margin-bottom: 1rem;

        .info {
          position: relative;
          display: inline-block;
          font-size: 0.85em;
          text-transform: capitalize;
          text-decoration: none;
          margin-#{$end-direction}: 2rem;
          margin-bottom: 0.75rem;
          color: $black-clr;
          opacity: 0.75;
          @include ma-transition(color, 0.3s, ease);

          &:not(:last-child):before {
            content: "|";
            margin: 0 10px;
            position: absolute;
            #{$start-direction}: 100%;
            color: $black-clr;
            opacity: 0.75;
          }

          &:hover {
            color: $main-clr;
          }

          .icon {
            color: $main-clr;
            margin-#{$end-direction}: 0.5rem;
          }
        }
      }

      .post-title {
        color: $extra-dark-grey-clr;
        font-family: $fontSecondary;
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1.5;
        margin-bottom: 1rem;
        text-transform: capitalize;
        @include ma-transition(color, 0.3s, ease);

        &:hover {
          color: $main-clr;
        }
      }

      .post-excerpt {
        color: $black-clr;
        opacity: 0.75;
      }
    }
  }

  &.blog-post {
    margin-top: 8rem;
  }

  .post-featured-area {
    width: 100%;
    height: auto;
    max-height: 600px;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 0.25rem 0.25rem 0 0;

    .featured-img {
      width: 100%;
      height: auto;
      object-fit: cover;
      @include ma-transition(all, 1s);
    }

    .swiper-container {
      width: 100%;
      height: auto;
      max-height: 450px;
      margin-left: auto;
      margin-right: auto;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        background-image: none;
        @include adding-arrows-styling;

        &:hover {
          background-color: rgba($main-clr, 1);
        }
      }
    }

    .video-source {
      width: 100%;
      height: 450px;
    }
  }

  .social {
    margin-bottom: 1rem;

    .share-us {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .share-title {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
        color: $main-clr;
      }
    }

    .sc-item {
      margin-bottom: 0;
    }
  }

  .post-title {
    font-family: $fontSecondary;
    font-size: 3rem;
    font-weight: 800;
    text-transform: capitalize;
    color: $extra-dark-grey-clr;
    margin-bottom: 3rem;

    @include ma-md-screens {
      font-size: 2.25rem;
      margin-bottom: 3rem;
    }
  }

  .post-main-area {
    margin: 1rem 0;

    .panel {
      padding-bottom: 3rem;
      margin-bottom: 3rem;

      .panel-title {
        margin-bottom: 0.75rem;
        font-size: 1.75rem;
        font-weight: 700;
        color: $extra-dark-grey-clr;
        text-transform: capitalize;
        padding-bottom: 0.5rem;
        margin-bottom: 1.5rem;
      }
    }

    .float-start-direction {
      float: #{$start-direction};
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      margin-#{$end-direction}: 1.5rem;
      width: 50%;
    }

    .float-end-direction {
      float: #{$end-direction};
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      margin-#{$start-direction}: 1.5rem;
      width: 50%;
    }

    .share-title {
      margin-#{$end-direction}: 1.5rem;
      margin-bottom: 0%;
      text-transform: capitalize;
      color: $black-clr;
      opacity: 0.75;
      font-weight: 800;
    }

    .post-info {
      margin-bottom: 1rem;

      .info {
        position: relative;
        display: inline-block;
        font-size: 0.85em;
        text-transform: capitalize;
        text-decoration: none;
        margin-#{$end-direction}: 2rem;
        margin-bottom: 0.75rem;
        color: $black-clr;
        opacity: 0.75;
        @include ma-transition(color, 0.3s, ease);

        &:hover {
          color: $main-clr;
        }

        &:not(:last-child):before {
          content: "|";
          margin: 0 10px;
          position: absolute;
          #{$start-direction}: 100%;
          color: $black-clr;
          opacity: 0.75;
        }

        .icon {
          margin-#{$end-direction}: 0.5rem;
          color: $main-clr;
        }
      }
    }

    .post-content {
      margin-bottom: 1.5rem;

      img {
        border-radius: 0.25rem;
      }

      a {
        color: $main-clr;
        text-decoration: none;

        @include ma-transition(all, 0.3s);

        &:hover {
          color: $black-clr;
          text-decoration: underline;
        }
      }

      .post-heading {
        font-size: 1.75rem;
        font-weight: 600;
        font-family: $fontSecondary;
        line-height: 1.2;
        text-transform: capitalize;
        color: $extra-dark-grey-clr;
        margin-bottom: 1rem;
      }

      .post-text {
        overflow: hidden;
        font-size: 1.25rem;
        color: $black-clr;
        opacity: 0.75;
        line-height: 1.6;
        margin-bottom: 1.25rem;
      }

      .post-img-wrapper {
        margin: 1rem 0;
        height: 500px;
        overflow: hidden;

        @include ma-sm-screens {
          height: 350px;
        }

        img {
          max-width: 100%;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .first-litter {
        @if $direction==ltr {
          &::first-letter {
            font-size: 4rem;
            line-height: 4rem;
            float: #{$start-direction};
            font-weight: 900;
            padding-#{$end-direction}: 1rem;
            text-transform: capitalize;
            color: $main-clr;
          }
        }
      }

      .post-list {
        list-style: none;
        margin: 0;
        margin-bottom: 1.5rem;
        padding-#{$start-direction}: 0;

        .post-list-item {
          color: $black-clr;
          opacity: 0.75;
          padding: 0.5rem 0;
          position: relative;
          font-size: 1.25rem;
          display: flex;
          align-items: baseline;

          .post-list-text {
            text-transform: capitalize;
          }

          .icon {
            font-size: 0.75rem;
            color: $main-clr;
            margin-#{$end-direction}: 0.5rem;
          }
        }
      }

      blockquote {
        margin: 2rem 0;
        padding: 3rem 2rem;
        border: none;
        border-#{$start-direction}: 0.25rem solid $main-clr;

        //using long border radius values to make it correct at rtl pages
        border-top-#{$start-direction}-radius: 0;
        border-top-#{$end-direction}-radius: 0.25rem;
        border-bottom-#{$end-direction}-radius: 0.25rem;
        border-bottom-#{$start-direction}-radius: 0;
        position: relative;
        overflow: hidden;
        background-color: $extra-dark-grey-clr;

        .post-quote {
          font-size: 1.5rem;
          font-weight: 500;
          font-style: italic;
          color: $grey-clr;
          display: block;
          padding: 1.5rem 0;
        }

        .person-name {
          position: absolute;
          #{$end-direction}: 2rem;
          bottom: 1rem;
          display: block;
          font-size: 1rem;
          font-weight: 500;
          text-transform: capitalize;
          color: $main-clr;
        }

        .icon {
          position: absolute;
          top: 1rem;
          #{$start-direction}: 2rem;
          color: rgba($main-clr, 0.35);
          font-size: 2rem;
        }

        @include ma-md-screens {
          padding: 2rem;

          .icon {
            #{$start-direction}: 3rem;
          }
        }
      }
    }

    .other-posts {
      .other-post-link {
        text-decoration: none;

        &:hover {
          img {
            transform: scale(1.05);
            filter: grayscale(0);
          }

          .icon {
            background: rgba($main-clr, 1);
          }

          .other-post-title {
            color: $main-clr;
          }
        }
      }

      .other-post-img {
        position: relative;
        border-radius: 0.25rem;
        overflow: hidden;

        & > img {
          filter: grayscale(0.5);
          @include ma-transition();
          transform-origin: center;
        }
      }

      .other-post-title {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.5;
        text-transform: capitalize;
        color: $extra-dark-grey-clr;
        padding-top: 1.5rem;
        margin: 0;
        @include ma-transition(color, 0.2s);
      }

      .prev-post,
      .next-post {
        position: relative;

        .icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          @include adding-arrows-styling;
        }
      }

      .prev-post {
        .icon {
          #{$start-direction}: 1rem;
        }
      }

      .next-post {
        .icon {
          #{$end-direction}: 1rem;
        }
      }
    }

    .author-profile {
      .author-avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;
        float: #{$start-direction};

        border: 3px solid $main-clr;
      }

      .avatar-img {
        width: 100%;
        height: 100%;
      }

      .author-disc {
        overflow: hidden;
        padding: 1rem;
        padding-top: 0;

        .author-link {
          text-decoration: none;
          color: $main-clr;
          font-size: 1.1rem;
          font-weight: 700;
          text-transform: capitalize;
        }

        .author-bio {
          font-size: 0.9rem;
          font-weight: 600;
          color: $black-clr;
          opacity: 0.75;
        }
      }
    }

    .comments-area {
      .comment-wrapper {
        margin-bottom: 2rem;
      }

      .comment-reply {
        padding-#{$start-direction}: 3rem;
      }

      .author-avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;
        float: #{$start-direction};
        border: 3px solid $main-clr;

        .author-avatar-img {
          width: 100%;
          height: 100%;
        }
      }

      .comment-body {
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba($main-clr, 0.5);

        padding: 1rem;
        padding-top: 0;
        overflow: hidden;

        .comment-author-link {
          text-decoration: none;
          color: $main-clr;
          font-size: 1.1rem;
          font-weight: 700;
          text-transform: capitalize;
          @include ma-transition(color, 0.3s);
        }

        .comment-date {
          margin-bottom: 1rem;

          .date-link {
            font-size: 0.8rem;
            color: $black-clr;
            opacity: 0.75;
            text-decoration: none;
          }
        }

        .comment-text {
          font-size: 1rem;
          color: $black-clr;
          opacity: 0.75;
        }

        .reply-action {
          text-align: #{$end-direction};

          .reply-link {
            text-decoration: none;
            text-transform: uppercase;
            color: rgba($main-clr, 0.7);
            font-size: 1rem;
            font-weight: 600;
            position: relative;
            padding-#{$start-direction}: 1.5rem;

            &:hover {
              color: rgba($main-clr, 1);
            }

            .icon {
              position: absolute;
              #{$start-direction}: 0;
              top: 50%;
              transform: translateY(-50%);
              color: $main-clr;
            }
          }
        }
      }
    }
  }
}
