$bar-top-1-height: 40px;
$bar-top-2-height: 80px;
$link-height: 70px;
$padding-for-hero-section: $link-height;

%headermain-rules {
  position: fixed;
  top: 0;
  #{$end-direction}: 0;
  #{$start-direction}: 0;
  z-index: 1030;
  @include ma-transition();

  .social-icons {
    .sc-flat {
      @include ma-lg-screens {
        padding: 1rem 0;
      }
    }

    .sc-item {
      font-size: 1rem;
      margin: 0;
      margin-#{$end-direction}: 1.5rem;

      &:last-of-type {
        margin-#{$end-direction}: 0;
      }
    }

    .sc-icon {
      color: $white-clr !important;

      &:hover {
        transform: translateY(-3px);
      }

      @include ma-lg-screens {
        color: $main-clr !important;
        font-size: 1.25rem;
      }
    }
  }

  .controls-box {
    display: none;
    display: flex;
    align-items: center;

    .control {
      margin-#{$end-direction}: 1rem;
      width: 2rem;
      height: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      z-index: 100;
      cursor: pointer;
      @include ma-transition();

      &:last-child {
        margin-#{$end-direction}: 0;
      }

      @include ma-sm-screens {
        margin-#{$end-direction}: 0.5rem;
      }
    }

    .header-search-btn {
      display: flex;

      svg.search-icon {
        fill: $white-clr;
        max-width: 1.5rem;
        @include ma-transition();
      }
    }

    .menu-toggler {
      margin-#{$end-direction}: 1rem;
      display: none;

      & > span {
        width: 30px;
        height: 2px;
        border-radius: 1px;
        background-color: $white-clr;
        @include ma-transition();
      }

      @include ma-lg-screens {
        display: flex;
      }
    }

    /* navbar open btn icon rules  */
    .close-menu {
      span:nth-child(1) {
        transform: rotate(225deg) translateY(-9px);
      }

      span:nth-child(2) {
        display: none;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translateY(-9px);
      }
    }

    .info-toggler {
      display: none;

      & > span {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $white-clr;
      }

      @include ma-lg-screens {
        display: flex;
      }
    }
  }

  .header-cta-btn {
    color: $white-clr;
    background-color: transparent;
    border: 2px solid $white-clr;
    padding: 0.5rem 1.5rem;
    @include ma-transition(all, 0.3s);

    &:hover {
      color: $main-clr;
      background-color: $white-clr;
    }

    @include ma-lg-screens {
      display: none;
    }
  }

  .bar-top {
    height: $bar-top-1-height;
    display: flex;
    align-items: center;
    background-color: $main-clr;
    @include ma-transition();

    @include ma-lg-screens {
      height: 0;
      border-bottom: none;
    }
  }

  .bar-bottom {
    border-bottom: 1px solid transparent;

    @include ma-lg-screens {
      background-color: $main-clr;
    }

    .menu-navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include ma-lg-screens {
        height: $link-height;
      }
    }
  }

  .menu-wrapper {
    @include ma-lg-screens {
      position: fixed;
      #{$end-direction}: -100%;
      width: 100%;
      height: 100%;
      top: $link-height;
      @include ma-transition();
    }
  }

  .bar-top-group {
    .info-panel {
      @include ma-lg-screens {
        #{$end-direction}: -100%;

        &.show {
          #{$end-direction}: 0;
        }
      }

      .info-title {
        display: none;

        @include ma-lg-screens {
          display: block;
          font-family: $fontSecondary;
          font-size: 1.25rem;
          font-weight: 900;
          margin-bottom: 0.5rem;
          text-transform: capitalize;
          color: $extra-dark-grey-clr;
        }
      }

      .info-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;

        .close-icon {
          display: none;
        }

        .info-list-inner {
          display: flex;
          align-items: center;
          margin: 0;

          @include ma-lg-screens {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 2rem;
          }
        }

        @include ma-lg-screens {
          flex-direction: column;
          justify-content: unset;
          align-items: flex-start;
          position: absolute;
          #{$end-direction}: 0;
          top: 0;
          padding: 3rem 1.5rem;
          background-color: $white-clr;
          width: 50%;
          height: calc(100% - #{$link-height});
          overflow: auto;
          overflow-x: hidden;
          z-index: 1;

          .close-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 2rem;
            #{$end-direction}: 2rem;
            #{$start-direction}: auto;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 1.5rem;
            background: $main-clr;
            color: $white-clr;
            cursor: pointer;
          }
        }

        @include ma-sm-screens {
          width: 75%;
        }
      }

      .info {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-#{$end-direction}: 2.5rem;
        }

        @include ma-lg-screens {
          padding: 1rem 0;
          align-items: flex-start;

          &:not(:last-child) {
            margin-#{$end-direction}: 0;
          }
        }

        &.info-panel-logo {
          display: none;

          @include ma-lg-screens {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 2rem;

            .logo {
              width: 65%;
              margin-bottom: 3rem;

              .logo-img {
                max-width: 100%;
                height: auto;
              }
            }
          }
        }
      }

      .info-text {
        display: flex;
        align-items: center;
        font-size: 15px;
        color: $white-clr;
        @include ma-transition(all, 0.3s);

        @include ma-lg-screens {
          flex-direction: column;
          font-size: 1rem;
          color: $black-clr;
          opacity: 0.75;
        }
      }

      .info-icon {
        margin-#{$end-direction}: 1rem;
        line-height: 1;
        flex-shrink: 0;
        color: $white-clr;

        @include ma-transition(all, 0.3s);

        .icon {
          @include ma-lg-screens {
            color: $main-clr;
            font-size: 1.25rem;
          }
        }
      }

      .text {
        margin: 0;
      }

      .sub-text {
        display: none;
      }

      .info-link {
        color: inherit;
        text-decoration: none !important;

        @include ma-lg-screens {
          margin-#{$end-direction}: 0;
          margin-bottom: 0.75rem;
        }
      }
    }
  }

  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-img {
      display: block;
      max-width: 10rem;
      padding: 0.5rem 0;
      max-height: calc(#{$link-height} - 10px);
      @include ma-transition;

      &.light-logo {
        display: block;
      }

      &.dark-logo {
        display: none;
      }
    }
  }

  .links {
    margin-#{$start-direction}: auto;
    margin-#{$end-direction}: 1rem;

    @include ma-lg-screens {
      #{$start-direction}: -100%;
      margin: 0;

      &.show {
        #{$start-direction}: 0;
      }
    }
  }

  .links-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    @include ma-lg-screens {
      position: absolute;
      top: 0;
      width: 50%;
      max-height: calc(100% - #{$link-height});
      padding: 1rem 0;
      flex-direction: column;
      align-items: start;
      justify-content: unset;
      overflow: auto;
      overflow-x: hidden;
      background-color: $white-clr;
    }

    @include ma-sm-screens {
      width: 75%;
    }
  }

  .menu-item {
    position: relative;
    padding: 0 1rem;

    @include ma-lg-screens {
      width: 100%;
      padding: 0;
    }
  }

  .menu-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none !important;
    color: $white-clr;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    line-height: $link-height;
    overflow: hidden;
    @include ma-transition(all, 0.3s);

    &::before {
      content: "";
      position: absolute;
      background-color: $white-clr;
      height: 2px;
      width: 100%;
      bottom: 25%;
      #{$start-direction}: 0;
      transform: scaleX(0);
      transform-origin: center;
      @include ma-transition(transform, 0.3s);
    }

    .down-Arrow-icon {
      line-height: 1;
      font-size: 0.65rem;
      margin-#{$start-direction}: 0.25rem;
    }

    &:hover,
    &.active {
      opacity: 1;

      &::before {
        transform: scaleX(1);
      }
    }

    // .menu-link => small screens
    @include ma-lg-screens {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0.75rem 1rem;
      color: $black-clr;
      line-height: calc(#{$link-height} / 2);

      &::before {
        color: $main-clr;
        display: none;
      }

      .down-Arrow-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        color: $main-clr;
        border: 1px solid $main-clr;
      }

      &:hover {
        color: $main-clr;
      }
    }
  }

  .has-sub-menu {
    & > .sub-menu {
      list-style: none;
      position: absolute;
      top: 100%;
      min-width: 18rem;
      #{$start-direction}: 0;
      margin: 0;
      padding: 1rem 0;
      transform: translateY(4rem);
      visibility: hidden;
      opacity: 0;
      z-index: 15000;
      background-color: $white-clr;
      @include ma-box-shadow(0, 0, 30, 0, rgba($extra-dark-grey-clr, 0.25));
      @include ma-transition(all, 0.3s);

      @include ma-lg-screens {
        position: static;
        display: none;
        visibility: visible;
        opacity: 1;
        border: none;
        box-shadow: none;
        padding: 0;
        transform: translateY(0);
        background-color: $white-clr;
        transition: none;
      }

      .sub-menu-item {
        padding: 0;
      }

      .sub-menu-link {
        line-height: unset;
        color: $black-clr;
        padding: 1rem !important;
        padding-#{$start-direction}: 1.5rem !important;

        &::before {
          content: "";
          display: block;
          height: 3px;
          width: 1rem;
          #{$start-direction}: 0;
          background-color: $main-clr;
          top: 50%;
          transform: translateY(-50%) scale(0);
          transform-origin: #{$start-direction};
          @include ma-transition(all, 0.3s);
        }

        &::after {
          content: "";
          position: absolute;
          background-color: $main-clr;
          height: 100%;
          width: 4px;
          #{$end-direction}: -4px;
          #{$start-direction}: auto;
          @include ma-transition(all, 0.3s);
        }

        &:hover {
          padding: 1rem 1rem 1rem 2rem !important;
          padding-#{$start-direction}: 2rem !important;
          color: $main-clr;

          &::before {
            transform: translateY(-50%) scale(1);
          }

          &::after {
            #{$end-direction}: 0;
            #{$start-direction}: auto;
          }
        }

        @include ma-lg-screens {
          line-height: unset;
          padding: 1rem 1rem 1rem 2rem !important;

          &:hover {
            padding: 1rem 1rem 1rem 2.5rem !important;
            color: $main-clr;
          }
        }
      }
    }

    &:hover {
      > .sub-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    .has-sub-menu {
      .sub-menu {
        top: 0;
        #{$end-direction}: 100%;
        #{$start-direction}: auto;
      }
    }

    @include ma-lg-screens {
      & > .sub-menu {
        /*sub-menu-level-2*/
        .sub-menu {
          .sub-menu-link {
            line-height: unset;
            padding: 1rem 1rem 1rem 3rem !important;

            &:hover {
              padding: 1rem 1rem 1rem 3.5rem !important;
              color: $main-clr;
            }
          }
        }
      }
    }
  }

  &.is-dark {
    .bar-top {
      background-color: $black-clr;

      .info-icon {
        .icon {
          color: $main-clr;
        }
      }

      .info-text {
        color: $white-clr;

        @include ma-lg-screens {
          color: $extra-dark-grey-clr;
        }
      }
    }

    .social-icons {
      .sc-icon {
        color: $white-clr !important;

        @include ma-lg-screens {
          color: $main-clr !important;
        }
      }
    }

    .bar-bottom {
      @include ma-lg-screens {
        background-color: $black-clr;
      }
    }

    &.is-sticky {
      .bar-bottom {
        border-color: rgba($white-clr, 0.1);
        background-color: $black-clr !important;
      }
    }
  }

  &.is-light {
    .bar-top {
      background-color: $white-clr;

      .info-icon {
        .icon {
          color: $main-clr;
        }
      }

      .info-text {
        color: $extra-dark-grey-clr;
      }
    }

    .social-icons {
      .sc-icon {
        color: $main-clr !important;
      }
    }

    .bar-bottom {
      @include ma-lg-screens {
        background-color: $white-clr;

        .header-logo .dark-logo {
          display: block;
        }

        .header-logo .light-logo {
          display: none;
        }

        .menu-link {
          color: $black-clr;

          &::before {
            background-color: $black-clr;
          }

          &.sub-menu-link {
            &::before {
              background-color: $main-clr;
            }
          }
        }

        .header-search-btn {
          svg.search-icon {
            fill: $black-clr;
          }
        }

        .menu-toggler {
          & > span {
            background-color: $black-clr;
          }
        }

        .info-toggler {
          & > span {
            background-color: $black-clr;
          }
        }

        .header-cta-btn {
          color: $white-clr;
          background-color: $main-clr;
          border: 2px solid $main-clr;

          &:hover {
            color: $main-clr;
          }
        }
      }
    }

    &.is-sticky {
      .bar-bottom {
        border-color: rgba($black-clr, 0.1);
        background-color: $white-clr !important;

        .header-logo .dark-logo {
          display: block;
        }

        .header-logo .light-logo {
          display: none;
        }

        .menu-link {
          color: $black-clr;

          &::before {
            background-color: $black-clr;
          }

          &.sub-menu-link {
            &::before {
              background-color: $main-clr;
            }
          }
        }

        .header-search-btn {
          svg.search-icon {
            fill: $black-clr;
          }
        }

        .menu-toggler {
          & > span {
            background-color: $black-clr;
          }
        }

        .info-toggler {
          & > span {
            background-color: $black-clr;
          }
        }

        .header-cta-btn {
          color: $white-clr;
          background-color: $main-clr;
          border: 2px solid $main-clr;

          &:hover {
            color: $main-clr;
            background-color: transparent;
          }
        }
      }
    }
  }
}

.header-2 {
  @extend %headermain-rules;

  &.is-sticky {
    @media (min-width: 1199px) {
      top: (-$bar-top-1-height);
    }

    .bar-bottom {
      background-color: $main-clr;
    }
  }
}

.header-1 {
  @extend %headermain-rules;

  .bar-top {
    height: $bar-top-2-height;

    @include ma-lg-screens {
      height: 0;
      border-bottom: none;
    }
  }

  .bar-top-group {
    .info-panel {
      .info {
        display: flex;
        align-items: center;

        &.info-panel-logo {
          display: none;

          @include ma-lg-screens {
            display: flex;
          }
        }

        .info-icon {
          .icon {
            font-size: 1.75rem;

            @include ma-lg-screens {
              font-size: 1.75rem;
            }
          }
        }

        .info-text {
          flex-direction: column;
          align-items: flex-start;
        }

        .text {
          font-size: 1rem;
          text-transform: capitalize;
          opacity: 0.75;
        }

        .sub-text {
          font-size: 0.8rem;
          display: block;

          @include ma-lg-screens {
            opacity: 0.9;
          }
        }
      }
    }
  }

  &.is-sticky {
    @media (min-width: 1199px) {
      top: (-$bar-top-2-height);
    }

    .bar-bottom {
      background-color: $main-clr;
    }
  }
}

.header-basic {
  @extend %headermain-rules;

  &.is-sticky {
    @media (min-width: 1199px) {
      top: 0 !important;
    }

    .bar-bottom {
      background-color: $main-clr;
    }
  }

  .controls-box {
    .info-toggler {
      display: none;
    }
  }
}
