/*===================================================

Project: Consulto - Business & Legal Consulting HTML5 Template
Auther: aminThemes
Version: 1.0 
created: 1 Mars 2022
Last updated: 21 Jul 2021
Template Description: Business & legal consultation HTML5 Template

====================================================*/

/*==
- global-rules and helper classes
- page-header
- page-hero section
- services-section
- about section
- portfolio section
- portfolio-single Section  
- our-team section
- our-clients section
- faq section
- testimonials section
- contact-us section
- take-action section
- page-footer section
- blog
- 404 Page
- benefits section
- pricing
- stats
- demos page
- Dark Theme Rules
===*/

/* start global, helper classes , Components Rules*/
@import "1-helpers/_variables";
@import "1-helpers/_mixins";
@import "1-helpers/_globals";
@import "1-helpers/_custom-animations";

@import "2-components/_buttons";
@import "2-components/_forms";
@import "2-components/_loading-screen";
@import "2-components/_header-search-box";
/*Ÿè End global, helper classes , components Rules */

/* Start .page-header Rules    */
@import "3-layout/_page-header";
/* End .page-header Rules    */

/*   Start .page-hero Rules   */
@import "3-layout/_page-hero";
/*   End .page-hero Rules   */

/*    Start .services Section Rules    */
@import "3-layout/_services";
/*    End .services Section Rules   */

/*   Start about Section   */
@import "3-layout/_about";
/*   End about Section    */

/*    Start portfolio Section  */
@import "3-layout/_portfolio";
/*    End portfolio Section  */

/*    Start portfolio-single Section  */
@import "3-layout/_portfolio-single";
/*     End portfolio-single Section  */

/*   Start our-team Section   */
@import "3-layout/_our-team";
/*   End our-team Section   */

/*   Start our-clients Section   */
@import "3-layout/_our-clients";
/*   End our-clients Section   */

/*   Start faq Section   */
@import "3-layout/_faq";
/*   End faq Section  */

/*   Start testimonials Section   */
@import "3-layout/_testimonials";
/*   End testimonials Section   */

/*    Start contact-us Section  */
@import "3-layout/_contact-us";
/*    End contact-us Section  */

/*   Start take-action Section   */
@import "3-layout/_take-action";
/*   End take-action Section   */

/*    Start page-footer Section  */
@import "3-layout/_page-footer";
/*    End page-footer Section  */

/*    Start blog Page  */
@import "3-layout/_blog";
/*    End blog Page  */

/*   Start 404 Page  */
@import "3-layout/_404";
/*   End 404 Page  */

/*   Start benefits Section  */
@import "3-layout/_benefits";
/*    End benefits Section  */

/*   Start pricing Section  */
@import "3-layout/_pricing";
/*    End pricing Section  */

/*   Start our-video Section  */
@import "3-layout/_our-video";
/*    End our-video Section  */

/*   Start stats section Rules  */
@import "3-layout/_stats";
/*  End  stats section Rules    */

/*   Start demos section Rules  */
@import "3-layout/_demos";
/*  End  demos section Rules    */

/*    Start dark theme rules  */
@import "1-helpers/_dark-theme";
/*    End dark theme rules  */
