body {
  &.dark-theme {
    color: $white-clr;
    background: $black-clr;

    //Globals

    .tag-line {
      color: $white-clr;
    }

    .hollow-text {
      // inherit the stroke color from the element color
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
    }

    .section-heading {
      .section-title {
        color: $white-clr;
      }

      .section-subtitle {
        color: $white-clr;
      }
    }

    .section-shape-divider-bottom {
      svg {
        path {
          fill: $black-clr;
        }
      }
    }

    .ma-tabs {
      .switch {
        .switch-btns-list {
          .switch-btn {
            color: rgba($white-clr, 0.75) !important;
            border-color: rgba($white-clr, 0.25) !important;

            &.hover {
              color: $main-clr !important;
              border-color: $main-clr !important;
            }

            &.active {
              color: $white-clr !important;
              border-color: $main-clr !important;
            }
          }
        }
      }
    }

    %play-btn {
      .play-video-btn {
        &:hover {
          .play-btn {
            background: $main-clr;

            &::before,
            &::after {
              background: $main-clr;
            }
          }

          .icon {
            color: $white-clr;
          }
        }
      }

      .play-btn {
        background: $white-clr;

        &::before,
        &::after {
          background: $white-clr;
        }

        .icon {
          color: $main-clr;
        }
      }
    }

    //benefits
    .benefits {
      .benefits-boxes-area {
        .benefit-box {
          background: inherit !important;
        }

        .benefit-title {
          color: $white-clr !important;
        }

        .benefit-text {
          color: rgba($grey-clr, 0.85) !important;
        }
      }
    }

    //blog
    .blog {
      .sidebar-box-title {
        color: $grey-clr !important;
      }

      .cats {
        .cat-item {
          .cat-link {
            color: $grey-clr !important;
          }
        }
      }

      .tags {
        .tag-item {
          background-color: $extra-dark-grey-clr !important;

          &:hover {
            background-color: $main-clr !important;
          }
        }

        .tags-icon-label {
          color: $grey-clr !important;
        }
      }

      .recent-posts {
        .content {
          .r-post-title {
            color: $grey-clr !important;

            &:hover {
              color: $main-clr !important;
            }
          }

          .r-post-date {
            color: $white-clr !important;
          }
        }
      }

      .posts-grid {
        .post-summary {
          .post-info {
            .info {
              color: $grey-clr !important;

              &:not(:last-child):before {
                color: $grey-clr;
              }
            }
          }

          .post-title {
            color: $grey-clr !important;

            &:hover {
              color: $main-clr !important;
            }
          }

          .post-excerpt {
            color: $white-clr !important;
          }
        }
      }

      .posts-pagination {
        .posts-page-item {
          background-color: $extra-dark-grey-clr !important;
          color: $main-clr !important;
          border-color: $main-clr !important;
        }

        .deactive-posts-page-item {
          background-color: $grey-clr !important;
          border-color: $semi-dark-clr !important;
        }
      }

      .post-title {
        color: $white-clr !important;
      }

      .post-main-area {
        .panel {
          .panel-title {
            color: $white-clr !important;
          }
        }

        .share-title {
          color: $white-clr !important;
        }

        .post-info {
          .info {
            color: $white-clr !important;

            &:not(:last-child):before {
              color: $white-clr !important;
            }
          }
        }

        .post-content {
          .post-heading {
            color: $white-clr !important;
          }

          .post-text {
            color: rgba($white-clr, 0.75);
          }

          a {
            &:hover {
              color: $white-clr;
            }
          }

          .post-list {
            .post-list-item {
              color: $white-clr !important;
            }
          }
        }

        .other-posts {
          .other-post-title {
            color: $white-clr !important;

            &:hover {
              color: $main-clr !important;
            }
          }
        }

        .author-profile {
          .author-disc {
            .author-bio {
              color: $white-clr !important;
            }
          }
        }

        .comments-area {
          .comment-body {
            .comment-date {
              .date-link {
                color: $white-clr !important;
              }
            }

            .comment-text {
              color: $white-clr !important;
            }
          }
        }
      }
    }

    //contact-us
    .contact-form-area {
      label:not(.lbl-for-checkbox) {
        color: $grey-clr;
      }

      .lbl-for-checkbox {
        color: $grey-clr;
      }

      input[type="email"],
      input[type="text"],
      input[type="password"],
      input[type="url"],
      input[type="search"],
      input[type="number"],
      textarea {
        color: $grey-clr !important;
      }
    }

    //FAQ

    // our-team
    .our-team {
      .tm-member-card {
        .tm-details {
          .tm-name {
            color: $white-clr;
          }

          .tm-role {
            color: $white-clr;
          }
        }
      }
    }

    .team-member {
      .profile {
        background-color: $extra-dark-grey-clr;

        .tm-details {
          .name {
            color: $white-clr;
          }

          .role {
            color: $white-clr;
          }
        }
      }

      .tm-description {
        .tm-title {
          color: $white-clr;
          margin-bottom: 1.25rem;
        }

        .tm-text {
          color: $white-clr;
        }
      }
    }

    //services
    .service-title {
      color: $grey-clr !important;
    }

    .service-text {
      color: rgba($grey-clr, 0.75) !important;
    }

    .services-boxed {
      .service-box {
        @include ma-box-shadow(0, 0, 30, 0, rgba($black-clr, 0.5));
      }
    }

    .flip-card {
      .front-face {
        .title-wrapper {
          .title {
            color: $white-clr;
          }
        }

        .desc-wrapper {
          .desc {
            color: $white-clr;
            opacity: 0.85;
          }
        }
      }
    }

    // //Portfolio
    .portfolio {
      .portfolio-btn-list {
        .portfolio-btn {
          color: $white-clr;
          background: transparent;

          &:hover,
          &.active {
            color: $main-clr;
          }
        }
      }
    }

    //Pricing
    %pricing {
      .plan {
        background: $extra-dark-grey-clr !important;
      }

      .plane-name,
      .plan-price {
        color: $white-clr;
      }

      .plan-list {
        .plan-feat {
          color: $white-clr;
        }
      }
    }

    //project Details
    .portfolio-single {
      .info-area .project-info {
        .info {
          background: $black-clr !important;

          .title {
            color: $main-clr !important;
          }

          .detail {
            color: $grey-clr !important;
          }

          .sc-item {
            .sc-icon {
              color: $white-clr !important;
            }
          }
        }
      }
    }

    .project-heading {
      .project-title {
        color: $white-clr !important;
      }
    }

    .sub-heading {
      color: $white-clr !important;
    }

    .project-text {
      color: $white-clr !important;
    }

    .list {
      .list-item {
        color: $grey-clr !important;
      }
    }

    //about section
    .about {
      .about-title,
      .about-text,
      .info-items-list .info-title,
      .info-items-list .info-text,
      .info-items-grid .info-title,
      .info-items-grid .info-text {
        color: $white-clr !important;
      }

      .cta-area .signature .signature-img {
        background-image: url("../assets/images/about/signature-light.png");
      }

      // .photo-banner-start,
      // .photo-banner-end {

      //   background-color: $main-clr;
      //   color:  $white-clr;

      // }

      .about-stats {
        &.stats-cards {
          .stat-box {
            background: $extra-dark-grey-clr;
          }
        }

        .stat-box {
          .stat-num,
          .stat-desc {
            color: $white-clr !important;
          }
        }
      }
    }

    //Signing
    .signing-page {
      .sining-area {
        background-color: $black-clr !important;
      }

      .divider {
        .or {
          background-color: $black-clr !important;
        }
      }

      .or-sign-up {
        .sign-up-hint {
          color: $grey-clr !important;
        }
      }

      .agree-terms {
        .disclaimer {
          color: $semi-dark-clr !important;
        }
      }
    }

    //Testimonials
  }
}
