//
//font varibales
//
$font_1_LTR:"Nunito";
$font_2_LTR:"Montserrat";

$font_1_RTL:"cairo";
$font_2_RTL:"cairo";

$fontMain:'';
$fontSecondary:'';

$main-clr: '';
$accent-clr: '';



//colors varibales
$white-clr: #fff;
$black-clr: #121212;
$grey-clr: #f1f1f1;
$semi-dark-clr: #b8b8b8;
$dark-grey-clr: #4d4d4d;
$extra-dark-grey-clr: #202020;

$danger-clr: #dc3545;
$success-clr: #217234;
$warning-clr: #9b6a01;

$main-clr: #c35023;
$accent-clr: #ff4800;